<div style="display:none;">
    <div id="dlg_big_dev">
        <div id="dev_charting_area" style="width: 600; height: 600;"></div>
     </div>
     
     <div id="dlg_big_os">
        <div id="os_charting_area" style="width: 600; height: 600;"></div>
     </div>
     
    <div id="dlg_big_map"   >
        <div id="big_map" style="width: 100%; height: 100%;"> </div>
    </div>


    <div id="dlg_information" >
    <b>Web Service ID: </b><br /> 
    <textarea disabled="true" rows="1" cols="5" style="resize:none">{{ webservice.id }}</textarea> <br />
    <b>Secret: </b><br />
    <textarea disabled="true"  rows="1" cols="36" style="resize:none">{{ webservice.secret }}</textarea>
    </div>
</div>

