<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif&subset=latin" />
    <link rel="stylesheet" type="text/css" href="/static/login.css" />

    {% load url from future %}
    <title>Please Log in to proceed</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="container">
        <div id="main">
	        {% if form.errors %}
            <div id="error">Your username and password didn't match. Please try again.</div>
            {% endif %}
	        <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
		        {% if next %}
		        <input type="hidden" name="next" value="{{ next }}" />
		        {% endif %}
		        <div> 
		            username
		            <input type="text" name="username" value="{{ username }}" />
		        </div>
		        <div style="padding-left:4px;">
		            password 
		            <input type="password" name="password" value="" />
		        </div>
                {% csrf_token %}
		        <div style="float:right; padding:5px;"><input type="submit" value="Log In" /></div>
		        <div style="clear:both"></div>
	        </form>
        </div>
    </div>
</body>
</html>
