html {
    background-color: darkgray;
}

body {
    font-family: Droid Sans, sans-serif;
    font-size: 0.9em;
    margin: 1px;
}

h1, h2, h3, h4, h5, h5 {
    color: #414042;
    font-family: Droid Serif, Georgia, Times, serif;
    line-height: 125%;
    font-weight: normal;
}

a {
    text-decoration:none;
    color: blue; 
}

a:hover {
    text-decoration:underline;
}

#container {
    width: 80%;
    height: 95%;
    margin-top: 3px;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#left_column {
    height: 100%;
    width: 49%;
    float: left;
}

#right_column {
    height: 100%;
    width: 49%;
    padding-left: 15px;
    float: right;
    border-left: 1px solid black;
}

#navbar {
    height: 20px;
    border-bottom: 1px solid steelblue;
    background-color: lightgray;
}

#navbar .entry  {
    float: left;
    margin-left: 10px;   
}

#content h2 {
    font-weight: bold;                
}

img.loader {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: block;
    border: 1px solid black;
}

div.piechart {
	height: 300px;
	margin: 10px;
	padding: 10px;
}

div.linechart {
	width: 500px;
	height: 100px;
	margin: 10px;
	padding: 10px;
}

div.map {
    height: 300px;
    width: 510px;
    border: 1px solid black;
}

p.error {
    color: rgb(112,32,32);
}
